.btn {
    background: transparent;
    border: 1px solid #fff;
    padding: 7px 50px 7px 50px;
    border-radius: 4px;
    color: #fff;
    font-family: Merienda;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}