.promo {
    background: url(./mainBg.jpg) center center/cover no-repeat;
    margin: 0;
    padding: 0;
    min-height: 640px;
    padding-top: 30px;
    padding-bottom: 200px;

    &__menu {
        padding: 0;
        padding-top: 6px;
        list-style-type: none;
        display: flex;
        align-self: flex-end;

        &-item {
            color: #fff;
            font-family: Merienda;
            font-size: 12px;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

            &:first-child {
                margin-left: -8px;
            }

            &:not(:last-child) {
                margin-right: 40px;
            }
        }
    }

    &__header {
        display: flex;
    }

    &__text {
        &-header {
            font-family: Merienda;
            font-weight: bold;
            font-size: 40px;
            line-height: 58px;
            color: #FFFFFF;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            text-align: center;
            margin-top: 111px;
        }

        &-subheader {
            margin-top: 20px;
            font-family: Merienda;
            font-weight: bold;
            font-size: 24px;
            line-height: 35px;
            color: #FFFFFF;
            text-align: center;
        }
    }

    &__img {
        display: block;
        margin: 20px auto 35px auto;
    }

    &__btn {
        display: block;
        margin: 18px auto 0 auto;
    }
}